node_modules/
dist/
release/
out/
*.log
.DS_Store
package-lock.json
Notes.txt
config.json
test/test-mode.json
test/test-main.js
renderer/test-panel.js
/test
test/test-mode.json
1.1/test/test-mode.json
1.1/test/test-main.js
1.1/test/ESP.code-workspace
1.1/renderer/test-panel.js
